* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #fdfdfd;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1.4rem 0.5rem 2rem;
    background: linear-gradient(to right, rgba(255, 255, 255), rgba(178, 167, 128));
    box-shadow: 0 0 4px rgba(178, 167, 128, 0.7);
}

.navbar-logo img {
    width: 200px;
}

.navbar-list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.list-item a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #212427;
    padding: 0.55rem 0.6rem;
}

.list-item a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fdfdfd;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: 0.25s ease-out;
}

.list-item a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom;
}

.hero-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(178, 167, 128, 0.3)), url(images/mattia-faloretti-jbrR_ESWK2A-unsplash.jpg);
    background-size: cover;
    background-position: center;
    color: #fdfdfd;
}

.hero-title {
    text-align: center;
    font-size: 3rem;
    text-shadow: 1px 1px black;
}

.hero-description {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px black;
}

.hero-button {
    padding: 1rem 2rem;
    background: #fdfdfd;
    color: #212427;
    text-decoration: none;
    box-shadow: 0 0 1px black;
    border-radius: 0.3rem;
    transition: 0.3s;
}

.hero-button:hover {
    background-color: #b2a780;
}

.about-container {
    margin-top: 3rem;
    margin-bottom: 4rem;
    color: #212427;
}

.about-title {
    margin-bottom: 3rem;
    text-align: center;
}

.about-info-container {
    display: flex;
    justify-content: center;
    max-width: 850px;
    margin: auto;
    padding: 2rem;
    gap: 4rem;
    background: #fdfdfd;
    border-radius: 0.3rem;
    box-shadow: 0 0 4px rgba(178, 167, 128, 0.7);
}

.about-info-description {
    flex: 1;
}

.about-info-image {
    flex: 1;
}

.about-info-image img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}

footer {
    background: rgb(253, 253, 253);
    background: linear-gradient(90deg, rgba(253, 253, 253, 1) 0%, rgba(178, 167, 128, 0.8043811274509804) 50%, rgba(253, 253, 253, 1) 100%);
    color: #212427;
    padding: 1rem;
    text-align: center;
}