* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.4
}

header {}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0.5rem 1rem;
}

.navbar-logo img {
    width: 200px;
}

.navbar-list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.list-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}