* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.4
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem 0.5rem 2rem;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.navbar-logo img {
    width: 200px;
}

.navbar-list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.list-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.hero-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/peter-olexa-Ax6ggq8cSxw-unsplash.jpg);
    background-size: cover;
    background-position: fixed;
    color: white;
}

.hero-title {
    text-align: center;
    font-size: 3rem;
    text-shadow: 1px 1px black;
}

.hero-description {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px black;
}

.hero-button {
    padding: 1rem 2rem;
    background: white;
    color: black;
    text-decoration: none;
    box-shadow: 1px 1px black;
    border-radius: 0.3rem;
}

.about-container {
    margin-top: 3rem;
    margin-bottom: 4rem;
    color: #212427;
}

.about-title {
    margin-bottom: 3rem;
    text-align: center;
}

.about-info-container {
    display: flex;
    justify-content: center;
    max-width: 850px;
    margin: auto;
    padding: 2rem;
    gap: 4rem;
    background: white;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.about-info-description {
    flex: 1;
}

.about-info-image {
    flex: 1;
}

.about-info-image img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}

footer {
    background-color: #212427;
    color: white;
    padding: 1rem;
    text-align: center;
}