@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #fdfdfd;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1.4rem 0.5rem 2rem;
    background: linear-gradient(to right, rgba(255, 255, 255), rgba(178, 167, 128));
    box-shadow: 0 0 4px rgba(178, 167, 128, 0.7);
}

@media (max-width: 850px) {
    .navbar-container {
        position: relative;
        flex-flow: column;
        gap: 1.5rem;
        padding: 2rem 0 0.5rem 0;
    }
}

.navbar-logo img {
    width: 200px;
}

.navbar-list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

@media (max-width: 850px) {
    .navbar-list {
        padding-bottom: 1rem;
        gap: 1.2rem;
    }
}

.list-item a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #212427;
    padding: 0.55rem 0.6rem;
}

@media (max-width: 850px) {
    .list-item a {
        padding: 0;
    }
}

.list-item a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fdfdfd;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: 0.25s ease-out;
}

@media (max-width: 850px) {
    .list-item a:after {
        display: none;
    }
}

.list-item a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom;
}

@media (max-width: 850px) {
    .list-item a:hover:after {
        display: none;
    }
}

.hero-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(178, 167, 128, 0.3)), url(images/mattia-faloretti-jbrR_ESWK2A-unsplash.jpg);
    background-size: cover;
    background-position: center;
    color: #fdfdfd;
}

@media (max-width: 850px) {
    .hero-container {
        justify-content: flex-start;
        height: 75vh;
        padding: 1rem;
    }
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

.hero-title {
    margin-bottom: 0.5rem;
    font-family: 'Montserrat' !important;
    text-align: center;
    font-size: 3rem;
    text-shadow: 1px 1px black;
}

@media (max-width: 850px) {
    .hero-title {
        margin-top: 5rem;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }
}

.hero-description {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px black;
}

.hero-button {
    padding: 1rem 2rem;
    background: #fdfdfd;
    color: #212427;
    text-decoration: none;
    box-shadow: 0 0 1px black;
    border-radius: 0.3rem;
    transition: 0.3s;
}

.hero-button:hover {
    background-color: #b2a780;
}

.about-container {
    display: flex;
    flex-flow: column;
    max-width: 850px;
    margin: 5rem auto;
    color: #212427;
}

@media (max-width: 850px) {
    .about-container {
        margin: 3rem auto;
        padding: 1rem;
    }
}

.about-title {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background: linear-gradient(90deg, rgba(253, 253, 253, 1) 0%, rgba(178, 167, 128, 0.8043811274509804) 50%, rgba(253, 253, 253, 1) 100%);
    box-shadow: 0 0 4px rgba(178, 167, 128, 0.7);
    border-radius: 0.3rem 0.3rem 0 0;
}

.about-title h2 {
    color: #212427df;
    font-weight: lighter;
}

.about-info-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
    background: #fdfdfd;
    border-radius: 0 0 0.3rem 0.3rem;
    box-shadow: 0 0 4px rgba(178, 167, 128, 0.7);
}

@media (max-width: 850px) {
    .about-info-container {
        flex-flow: column;
        gap: 2rem;
    }
}

.about-info-description {
    flex: 1;
}

.about-info-image {
    flex: 1;
}

.about-info-image img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}

footer {
    background: rgb(253, 253, 253);
    background: linear-gradient(90deg, rgba(253, 253, 253, 1) 0%, rgba(178, 167, 128, 0.8043811274509804) 50%, rgba(253, 253, 253, 1) 100%);
    color: #212427;
    padding: 1rem;
    text-align: center;
}